## Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.backup

## Binarios
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

## Archivos de índice
FileContentIndex/
ProjectEvaluation/

## Configuración local (cadena de conexión)
appsettings.json